<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <title>Cập nhật mật khẩu</title>
    <link rel="stylesheet" href="~/css/css/ConfirmEmail.css" />
</head>

<body>
    <div class="container-1 ">
        <h1 class="title-1">Comfirm Email</h1>
        <form action="/reset" method="POST">
            <div class="form-group-1">
                <input type="email" name="email" placeholder="Enter your email" required />
            </div>
            <button type="submit" class="btn-submit">Comfirm</button>
        </form>
        <footer>
            <p>© Confirm Email Form. All rights reserved | Template by BlueHouse</p>
        </footer>
    </div>
</body>

</html>
