@model BusinessObjects.Dtos.Auth.LoginDto;
@{
    ViewData["Title"] = "Đăng nhập";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<section class="ftco-section contact-section ftco-no-pb" id="login-section" style="padding: 10em !important">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Đăng nhập</span>
                <h2 style="font-family: system-ui;" class="mb-4">Chào mừng bạn trở lại!</h2>
                <p>Vui lòng đăng nhập để tiếp tục sử dụng dịch vụ của chúng tôi.</p>
            </div>
        </div>

        <div class="row justify-content-center block-9">
            <div class="col-md-7 text-center order-md-last d-flex ftco-animate">
                <form asp-controller="Auth" asp-action="Login" method="post" class="bg-light p-4 p-md-5 contact-form">
                    <div
                        style="display: flex; width: 100%; text-align: center; margin-bottom: 20px; justify-content: space-between;">
                        <a asp-controller="Auth" asp-action="ExternalLogin" asp-route-provider="Google"
                            class="btn btn-block" style="background-color: #f54859; color: #fff;">
                            <img src="/images/login/icons/icon-google.png" alt="GOOGLE"
                                style="width: 20px; margin-right: 10px;"> Đăng nhập với Google
                        </a>
                        <a asp-controller="Auth" asp-action="ExternalLogin" asp-route-provider="Facebook"
                            class="btn btn-block"
                            style="margin-top: 0rem !important; background-color: #3b5998; color: #fff;">
                            <img src="/images/login/icons/icon-facebook.png" alt="FACEBOOK"
                                style="width: 20px; margin-right: 10px;"> Đăng nhập với Facebook
                        </a>
                    </div>

                    @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
                    {
                        <script>
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi đăng nhập!',
                                text: '@Html.Raw(TempData["ErrorMessage"])'
                            });
                        </script>
                    }

                    @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
                    {
                        <script>
                            Swal.fire({
                                icon: 'success',
                                title: 'Đăng Nhập Thành Công',
                                text: '@Html.Raw(TempData["SuccessMessage"])',
                                timer: 2500,
                                showConfirmButton: false
                            }).then(() => {
                                window.location.href = '@Html.Raw(TempData["RedirectUrl"])';
                            });
                        </script>
                    }
                    <div class="form-group">
                        <input asp-for="@Model.email" type="email" class="form-control" placeholder="Email của bạn">
                    </div>
                    <span asp-validation-for="email" class="text-danger"></span>

                    <div class="form-group">
                        <input asp-for="passwordHasher" type="password" class="form-control" placeholder="Mật khẩu">
                    </div>
                    <span asp-validation-for="passwordHasher" class="text-danger"></span>

                    <div class="form-group d-flex justify-content-between">
                        <div>
                            <input type="checkbox" id="rememberMe" />
                            <label for="rememberMe">Nhớ mật khẩu</label>
                        </div>
                        <a href="#" class="text-primary">Quên mật khẩu?</a>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Đăng nhập" class="btn btn-primary py-3 px-5 btn-block">
                    </div>

                    <div class="box p-2 px-3 bg-light d-flex justify-content-center">
                        <span class="text-muted">Chưa có tài khoản?</span>
                        <a href="/Auth/SignUp" class="text-primary ml-2">Đăng ký ngay</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>