<footer class="ftco-footer ftco-section">
    <div class="container-fluid px-md-5">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">
                        BlueHouse
                    </h2>
                    <p>Nơi kết nối chủ nhà và người thuê một cách nhanh chóng, an toàn và tiện lợi.</p>
                    <ul class="ftco-footer-social list-unstyled mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Cộng Đồng</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Tìm kiếm nhà trọ</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Dành cho chủ trọ</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Đánh giá</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Câu hỏi thường gặp</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Về Chúng Tôi</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#"><span class="icon-long-arrow-right mr-2"></span>Câu chuyện của chúng tôi</a>
                        </li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Gặp gỡ đội ngũ</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Cơ hội nghề nghiệp</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Bạn Có Câu Hỏi?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <span class="icon icon-map-marker"></span><span class="text">
                                    Hòa Hải, Khu Đô Thị
                                    FPT, Đại Học FPT
                                </span>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon icon-phone"></span><span class="text">
                                        (+84) 941 673
                                        660
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon icon-envelope pr-4"></span><span class="text">
                                        bluedream.company@email.com
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </div>
</footer>